<!-- Admiral Tier -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Bryan Kurtz Premium
    </h5>
    <h6 class="card-price text-center">
      <i class="fas fa-scroll"></i> Offer
    </h6>
    <hr />
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i
            class="fas fa-male"></i></span>Solutions Engineer @ LaunchDarkly with Strategic Technical Sales Experience
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-lightbulb"></i></span> Living the Cultural Value of being in a place where I can learn and grow
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-file-invoice-dollar"></i></span>Complimentary Revenue 
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-suitcase"></i></span>1 friendly
        dog to accompany Zoom calls
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-wifi"></i></span>Unlimited
       Growth Potential
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-users"></i></span>Experience working cross-functionality with Sales, Engineering, Product, and Marketing. Familiar with technical POC process and scoping
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-meteor"></i></span>Ability to contribute to long-term success of the company and myself
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-hiking"></i></span>Develop foundational knowledge of LaunchDarkly in the marketplace
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-user-astronaut"></i></span>Personal asset to SE & Sales Team
      </li>
      <li>
        <span class="fa-li"><i class="fab fa-grav"></i></span>New Exciting Career Experience
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <a id="tier3" href="#"
      class="btn btn-block btn-primary">Select class</a>
  </div>
</div>