<!-- Freighter Tier -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Bryan Kurtz Base
    </h5>
    <h6 class="card-price text-center">
      <i class="fas fa-user-check"></i> Candidate
    </h6>
    <hr />
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i
            class="fas fa-male"></i></span>Strategic Solution Selling Experience
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-lightbulb"></i></span>Passion for Computers & Understanding Technology
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-prescription-bottle-alt"></i></span>Understands Empathy of AE's & how to prescribe customers towards a close
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-suitcase"></i></span>1 friendly
        dog to accompany Zoom calls
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <a id="tier1" href="#" class="btn btn-block btn-primary">
      Select class
    </a>
  </div>
</div>