<!-- Constellation Tier -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Bryan Kurtz Pro
    </h5>
    <h6 class="card-price text-center">
      <i class="fas fa-scroll"></i> Interview
    </h6>
    <hr />
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i
            class="fas fa-male"></i></span>Learn more about my background & determine technical aptitude / culture fit
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-lightbulb"></i></span>Knowledge of web development, HTML, CSS, JS, & Node.JS. AWS Cloud Pracitioner Certification
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-utensils"></i></span>Hungry to become an SE and eagerness to learn the product 
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-suitcase"></i></span>1 friendly-dog to accompany Zoom Calls
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-wifi"></i></span>Unlimited
        Growth Potential
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-users"></i></span>Experience working cross-functionality with Sales, Engineering, Product, and Marketing. Familiar with technical POC process and scoping
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-meteor"></i></span>Ability to contribute to long-term success of the company and myself
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <a id="tier2" href="#"
      class="btn btn-block btn-primary">Select class</a>
  </div>
</div>